# KEYS UNSEALING VAULT SERVER

{% for key in hostvars[groups['node_active'][0]]['vault_unsealing_keys']['stdout_lines'] %}
{{ key }}
{% endfor %}

# VAULT ROOT TOKEN

{{ hostvars[groups['node_active'][0]]['vault_root_token']['stdout'] }}